# .env
# Domain of the application
ROOT_DOMAIN=example.com

# Default username and password for the admin user of manager and wireguard instances
INIT_USERNAME=admin
INIT_PASSWORD=your-password

# email address for receiving certbot notifications
CERTBOT_EMAIL=email@example.com

# JWT secret for securing application
JWT_SECRET=your-jwt-secret

# Contact email for users
CONTACT_EMAIL=email@example.com

# Database username and password
DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password

# Image URLs
DATABASE_MIGRATOR_IMAGE_URL=ghcr.io/szomorxvigyor/wiredeck/database-migrator:v1.0.1
WIREGUARD_SERVER_IMAGE_URL=ghcr.io/wg-easy/wg-easy:15.3.0
WEBVNC_IMAGE_URL=ghcr.io/szomorxvigyor/wiredeck/webvnc:v1.0.1
WEBVIEW_IMAGE_URL=ghcr.io/szomorxvigyor/wiredeck/webview:v1.1.0
