# .env
# Domain of the application
ROOT_DOMAIN=example.com

# Default username and password for the admin user of manager and wireguard instances
INIT_USERNAME=admin
INIT_PASSWORD=your-password

# email address for receiving certbot notifications
CERTBOT_EMAIL=email@example.com

# JWT secret for securing application
JWT_SECRET=your-jwt-secret

# Contact email for users
CONTACT_EMAIL=email@example.com

# Database username and password
DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password

# SMTP accounts for sending emails
SMTP_ACCOUNTS='[{"host":"smtp.gmail.com","port":587,"user":"email1@example.com","password":"your-password" "limit_per_hour": 50, "ssl": true},{"host":"smtp.gmail.com","port":587,"user":"email2@example.com","password":"your-password" "limit_per_hour": 150, "ssl": true}]'
