<form action="/add-server" method="POST">
  <button type="submit">Generate New Server Config</button>
</form>
<form action="/add-client" method="POST">
  <button type="submit">Generate New Client Config</button>
</form>