.status-online {
  animation: pulse-green 2s infinite;
}

.status-offline {
  animation: pulse-red 2s infinite;
}

@keyframes pulse-green {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-red {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
