PORT=8080
JWT_SECRET=your-secret-key-change-in-production
WIREGUARD_CONF_STR=your-wireguard-config
FRONTEND_URL=http://localhost:5173
USERS=[{"username":"admin","password":"admin"},{"username":"user","password":"user"}]
WIREDECK_SLAVE=true
PASS_CHANGE_URL=https://google.com
SERVICE_NAME=webview-backend-test