NODE_ENV=development

DATABASE_URL=postgresql://postgres:password@localhost:5432/wiredeck-manager
PORT=8080
FRONTEND_URL=http://localhost:5173

SERVICE_NAME=wiredeck-manager
JWT_SECRET=your-secret-key-change-in-production

INSTANCE_START_IP=172.20.0.1
INSTANCE_START_PORT=51820
ROOT_DOMAIN=localhost
CERTBOT_EMAIL=your-email@example.com

USERS=[{"username":"admin","password":"admin"},{"username":"user","password":"user"}]